
/*HBOX AND BARS */
#exercise-bar {
	-fx-background-color: #01579B;
}
/*HAMBURGER*/
#exercise-hamburger {
	-fx-padding: 5 5 5 5;
}
#exercise-hamburger StackPane {
    -fx-background-color: black;
    -fx-background-radius: 5px;
}
#exercise-hamburger:hover StackPane {
	-fx-background-color: white;
}   
#exercise-menu-hamburger:hover {
	-fx-background-color: #03A9F4;
}
/*MENU */
#exercise-menu-button {
	-fx-background-radius: 40;
	-fx-background-color: #01579B;
}
#exercise-menu-button-icon {
	-fx-fill: black;
}
/*LEVEL BUTTON */
#exercise-levels-button:hover {
	-fx-text-fill: white;
}
#exercise-levels-button {
	-fx-text-fill: black;
	-fx-font-size: 15;
}
/*TEXT COLOR */

#resume-button {
	-fx-text-fill: white;
	-fx-font-size: 17;
}


/*LIST VIEW */
#popup-list-view .list-cell:selected {
	-fx-background-color: transparent ;
}
#popup-list-view .list-cell{
	-fx-background-color: transparent;
	-fx-background-radius: 5 5 10 5;
}

#popup-list-view .list-cell:hover{
	-fx-background-color: rgba(255,255,255,0.6);
	-fx-background-radius: 5 5 10 5;
}

#popup-list-view {
	-fx-background-radius: 5 5 10 5;
	-fx-background-color: transparent ;
	-fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
    -fx-min-width: 200;
    -fx-min-height: 290;
}
.jfx-popup-container {
	-fx-background-radius: 5 5 10 5;
	-fx-background-color: rgba(255,255,255,0.95);
}
#label-list-view{
	-fx-text-fill: #01579B;
}

#list-view .list-cell:hover {
	-fx-background-color: #B3E5FC;
}

#done-button {
	-fx-background-color: yellow;
	-fx-background-radius: 40;
	-fx-padding: 0 0 0 3;
}

